    <include file="Layout:header" />
    <!--LOADING STYLESHEET FOR PAGE-->
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/vendors/DataTables/extensions/TableTools/css/dataTables.tableTools.min.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/vendors/DataTables/media/css/dataTables.bootstrap.css">
    <include file="Layout:slider" />
        <div id="page-wrapper">
            <div class="page-content">
                <div class="row">
                    <div class="col-lg-12">
                        <ul id="tableactiondTab" class="nav nav-tabs">
                            <li class="active"><a href="#" data-toggle="tab">{$orgname}</a></li>
                        </ul>
                        <div id="tableactionTabContent" class="tab-content">
                            <div id="" class="tab-pane fade active in">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-container">
                                            <table id="table_id" class="table table-hover tablesorter display">
                                                <thead>
                                                    <tr>
                                                        <th>职位</th>
                                                        <th>学号</th>
                                                        <th>姓名</th>
                                                        <th>性别</th>
                                                        <th>手机号</th>
                                                        <th>学院</th>
                                                        <th>更新时间</th>
                                                        <th width="60px">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <volist name="presidum" id="presidum">
                                                        <input type="hidden" name="id" id="presidum_id{$presidum.id}"  value="{$presidum.id}">
                                                        <tr>
                                                            <td>{$orgname}{$presidum.position}</td>
                                                            <td>{$presidum.stu_num}</td>
                                                            <td>{$presidum.name}</td>
                                                            <td>{$presidum.gender}</td>
                                                            <td>{$presidum.phone}</td>
                                                            <td>{$presidum.academy}</td>
                                                            <td>{$presidum.update}</td>
                                                            <td><button class="btn btn-default btn-xs userid-{$presidum.id}" need="author">删除 <i class="fa fa-edit"></i></button></td>
                                                        </tr>
                                                    </volist>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" data-target="#modal-add-people" data-toggle="modal" class="btn btn-default" style="float: right;background-color: #fff;" id="adduser" need="author">人员添加</button>
                        <div id="modal-add-people" tabindex="-1" role="dialog" aria-labelledby="modal-prompt-label" aria-hidden="true" class="modal fade" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                                        <h4 id="modal-prompt-label" class="modal-title">新人员添加</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form  class="form-horizontal" method = "post">
                                            <div class="form-body pal">
                                                <div class="form-group">
                                                    <label for="presidium" class="col-md-3 control-label">组织</label>
                                                    <div class="col-md-9">
                                                        <div class="input-icon right">
                                                            <p class="col-md-9 control-label" style="text-align: left">
                                                                红岩网校工作站
                                                                <input type="hidden" name="id" id="organisation"  value="1">
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="job" class="col-md-3 control-label">职位</label>
                                                    <div class="col-md-9">
                                                        <div class="input-icon right">
                                                            <select class="form-control" id="position" style="height: 31px;font-size: 12px;" name ="position">
                                                                <option value = "6">副主席</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="studentID" class="col-md-3 control-label">学号</label>
                                                    <div class="col-md-9">
                                                        <div class="input-icon right">
                                                            <input id="studentID" type="text" placeholder="请输入需要新添加人员的学号" class="form-control" style="height: 31px;font-size: 12px;-webkit-border-radius:4px !important;-moz-border-radius: 4px !important;border-radius: 4px !important" name="user_id">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <p class="col-md-3 control-label">姓名</p>
                                                    <p class="col-md-9 control-label" style="text-align: left" id="searchname">暂无信息</p>
                                                </div>
                                                <div class="form-group">
                                                    <p class="col-md-3 control-label">性别</p>
                                                    <p class="col-md-9 control-label" style="text-align: left" id="searchgender">暂无信息</p>
                                                </div>
                                                <div class="form-group">
                                                    <p class="col-md-3 control-label">手机号</p>
                                                    <p class="col-md-9 control-label" style="text-align: left" id="searchphone">暂无信息</p>
                                                </div>
                                                <div class="form-group">
                                                    <p class="col-md-3 control-label">学院</p>
                                                    <p class="col-md-9 control-label" style="text-align: left" id="searchacademy">暂无信息</p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                                        <button type="button" class="btn btn-primary" id="submit" need="author">确认</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <include file="Layout:footer" />
        <!--LOADING SCRIPTS FOR PAGE-->
        <script src="__PUBLIC__/vendors/DataTables/media/js/jquery.dataTables.js"></script>
        <script src="__PUBLIC__/vendors/DataTables/media/js/dataTables.bootstrap.js"></script>
        <script src="__PUBLIC__/vendors/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
        <script src="__PUBLIC__/vendors/DataTables/datatable.js"></script>
    <script>
          (function(){
              var student, obj, ch, id;
              var text = ['name', 'gender', 'phone', 'academy'];
              var info = ['user_id', 'organisation', 'position'];
              $('#studentID').bind('input propertychange', function() {
                  student = $(this);
                  if(student.val().length == 10 && student.val() != id) {
                      id = student.val();
                      $.post('{:U("Chairman/searchStudent")}', {studentID: id}).always(function(data, status) {
                          ch = student.closest('.form-group').nextAll();
                          ch.each(function(e) {
                              obj = $(this).find('.col-md-9');
                              obj.empty();
                              if(obj.val() === '') {
                                  if(data == '') {
                                      obj.attr('class', 'text-red col-md-9 control-label');
                                      obj.append('对不起,你并没有查询此信息的权限');
                                  } else {
                                      obj.append(data[text[e]]);
                                  }
                              }
                          })
                      }).done(function() {
                          $("#submit").click(function() {
                              var user_id = $("#studentID").val();
                              var organisation = $("#organisation").val();
                              var position = $("#position").val();
                              var submit = this;
                              $.post("{:U('Chairman/addpre')}", {
                                  user_id: user_id,
                                  organisation: organisation,
                                  position: position
                              }).done(function(data, status) {
                                  alert(data['info']);
                                  $(submit).attr('disabled', 'disabled');
                                  parent.location.reload();
                              });
                          });
                      }).fail(function() {
                          alert('服务器内部错误, 请重试');
                      })
                  }
              });
              var button = $('tr > td > button');
              $(button).each(function() {
                  var obj = $(this);
                  obj.on('click', function() {
                      var clazz = this.className.split(' ');
                      var id = clazz[clazz.length - 1].split('-')[1];
                      $.post("{:U('Chairman/deletePre')}", {presidum_id:id}).done(function(data, status) {
                          if(data['code'] == undefined) {
                              alert(data['info']);
                          } else {
                              obj.closest('tr').remove();
                          }
                      })
                  });
              });
            })();
    </script>
    </body>
    </html>
