       

                <div id="footer">
                    <div class="copyright text-center">2014 © &mu;Admin - Responsive Multi-Style Admin Template</div>
                </div>
            </div>
        </div>


        <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
        <script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="__PUBLIC__/js/jquery-ui.js"></script>
        <!--loading bootstrap js-->
        <script src="__PUBLIC__/vendors/bootstrap/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
        <script src="__PUBLIC__/js/html5shiv.js"></script>
        <script src="__PUBLIC__/js/respond.min.js"></script>
        <script src="__PUBLIC__/vendors/metisMenu/jquery.metisMenu.js"></script>
        <script src="__PUBLIC__/vendors/slimScroll/jquery.slimscroll.js"></script>
        <script src="__PUBLIC__/vendors/jquery-cookie/jquery.cookie.js"></script>
        <script src="__PUBLIC__/vendors/iCheck/icheck.min.js"></script>
        <script src="__PUBLIC__/vendors/iCheck/custom.min.js"></script>
        <script src="__PUBLIC__/vendors/jquery-notific8/jquery.notific8.min.js"></script>
        <script src="__PUBLIC__/vendors/jquery-highcharts/highcharts.js"></script>
        <script src="__PUBLIC__/js/jquery.menu.js"></script>
        <script src="__PUBLIC__/vendors/jquery-pace/pace.min.js"></script>
        <script src="__PUBLIC__/vendors/holder/holder.js"></script>
        <script src="__PUBLIC__/vendors/responsive-tabs/responsive-tabs.js"></script>
        <script src="__PUBLIC__/vendors/jquery-news-ticker/jquery.newsTicker.min.js"></script>
        <script src="__PUBLIC__/vendors/moment/moment.js"></script>
        <script src="__PUBLIC__/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="__PUBLIC__/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!--CORE JAVASCRIPT-->
        <script src="__PUBLIC__/js/main.js"></script>
