    <include file="Layout:header" />
    <link rel="stylesheet" href="__PUBLIC__/css/set.css">
    <include file="Layout:slider" />
        <div id="page-wrapper">

            <div class="page-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="portlet box portlet-green">
                            <div class="portlet-body">
                                <div id="rootwizard-custom-circle">
                                    <div id="progress" class="progress progress-xs inner-progress">
                                        <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-danger" aria-valuenow="40" style="width: 1%;"></div>
                                    </div>
                                    <div class="navbar">
                                        <div class="navbar-inner">
                                            <ul class="bwizard-steps-o"></ul>
                                        </div>
                                    </div>
                                    <button data-target="#modal-set" data-toggle="modal" class="btn btn-default" style="float: right;margin-top:-20px;margin-bottom: 40px">添加流程</button>
                                    <div class="tab-content"></div>
                                </div>
                            </div>
                        </div>
                        <div id="modal-set" tabindex="-1" role="dialog" aria-labelledby="modal-prompt-label" aria-hidden="true" class="modal fade" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                                        <h4 id="modal-prompt-label" class="modal-title">添加流程</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form id="add" action="{:U('Recruit/setFlow')}" class="form-horizontal">
                                            <div class="form-body pal">
                                                <div class="form-group">
                                                    <label for="type" class="col-md-3 control-label">（必填）＊类型</label>
                                                    <div class="col-md-9">
                                                        <div class="input-icon right">
                                                            <select class="form-control" id="type">
                                                                <option>面试</option>
                                                                <option>笔试</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="time" class="col-md-3 control-label">（必填）＊时间</label>
                                                    <div class="col-md-9">
                                                        <div class="input-icon right">
                                                            <input id="time" type="text" placeholder="请输入该审核流程的时间" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="place" class="col-md-3 control-label">（必填）＊地点</label>
                                                    <div class="col-md-9">
                                                        <div class="input-icon right">
                                                            <input id="location" type="text" placeholder="请输入该审核流程的地点" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="others" class="col-md-3 control-label">备注</label>
                                                    <div class="col-md-9">
                                                        <div class="input-icon right">
                                                            <textarea id="remark" class="form-control" placeholder="请输入该审核流程的备注" rows="4"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                                        <button type="button" id="setFlow" class="btn btn-primary">确认</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="modal-revise" tabindex="-1" role="dialog" aria-labelledby="modal-prompt-label" aria-hidden="true" class="modal fade" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                                        <h4 id="modal-prompt-label-1" class="modal-title"></h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" class="form-horizontal" id="set">
                                            <div class="form-body pal" id="revise"></div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                                        <button type="button" class="btn btn-primary">确认</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <include file="Layout:footer" />
    <script src="__PUBLIC__/js/flow.js"></script>
    <script src="__PUBLIC__/js/set.js"></script>
</body>
</html>